[Unit]
Description=Git AutoSync service for %i
Documentation=file:/usr/share/git-autosync/README.md
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Environment=GIT_AUTOSYNC_PREFIX=/usr/share/git-autosync
Environment=GIT_AUTOSYNC_CONF=/etc/git-autosync
Environment=GIT_AUTOSYNC_LOG=/var/log/git-autosync
ExecStart=/usr/share/git-autosync/bin/git-autosync-sync %i
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal
SyslogIdentifier=git-autosync-%i

[Install]
WantedBy=multi-user.target
