[Unit]
Description=Git AutoSync scheduled mirror pull
Documentation=file:/usr/share/git-autosync/README.md

[Timer]
OnBootSec=5min
OnUnitActiveSec=1h
Persistent=true
Unit=git-autosync-fetch.service

[Install]
WantedBy=timers.target
